<nav class="navbar navbar-inverse navbar-fixed-top hidden-print" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand pname" href="/">
        <img src="/assets/images/logo-small.png">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> E-mail</a></li> -->
        <!-- <li>
          <a href="" ng-click="vm.getPdf()">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            PDF</a>
        </li> -->
        <li>
          <a href="" ng-click="vm.print()">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            Drukuj</a>
        </li>
        <li>
          <a href="/info">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            Informacje</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
